.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
}

.home-main-section, img-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: stretch;
   
    
}

.home-main-section .lady-image {
    /* background-image: url("img/landing-page-girl.png");*/
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    
}
img {
   
    max-width: 100%;
    height: auto;
}
.home-main-section .call-to-action {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}

@media (max-width:900px) {
    .home-main-section .img-wrapper{
        display: none;
    }
    .home-main-section{
        justify-content: center;
    }
}

.home-page-circle-1, .home-page-circle-2, .home-page-circle-3 {
    position: absolute;
    border-radius: 50%;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}
.home-page-circle-1 {
    background-color: rgba(188, 58, 127, 0.1);   
    width:15vw;
    height:15vw;
    bottom: 5vw;
    left:20vw;
    z-index: -1;
}

.home-page-circle-2 {
    background-color: rgba(52, 87, 178, 0.1);   
    width:15vw;
    height:15vw;
    top: 15vw;
    left:50vw;
    z-index: -1;
}

.home-page-circle-3 {
    background-color: rgba(52, 87, 178, 0.1);   
    overflow:hidden;
    width:25vw;
    height:25vw;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    z-index: -1;
}  

.home-page-circle-3::before {
    content:"";
    position: absolute;
    transform: translate(90%, 90%);
    height:100%;
    width: 100%;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: rgba(52, 87, 178, 0.1);
    -webkit-transform: translate(90%, 90%);
    -moz-transform: translate(90%, 90%);
    -ms-transform: translate(90%, 90%);
    -o-transform: translate(90%, 90%);
}

