.join-main-section {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-grow:1;
    
}
.join-main-section .join-text {
   font-size:3.5em;
   font-weight:bold;
   margin:0;
    margin-left: 2rem;
    
} 

.accent-text {
    color:#bc3a80;
}
.join-form {
    background-color: #202027;
    padding:2rem 4rem;
    width:50vw;
    max-width: 50%;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

.input-group {
    margin-bottom:1rem;
    display: flex;
    flex-direction: column;
}
.input-groun:last-child{
    margin-bottom:0;
}
.input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
}
.input-group input {
    outline:none;
    background: none;
    border: 1px solid #2e3852;
    font-size: 1rem;
    color:inherit;
    padding:0.5rem;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.input-group input:focus {
    border-color: #596da0;

    
}
@media(max-width:800px) {
    .join-main-section {
        flex-direction: column;
        justify-content: center;
    }
    .join-form {
        width:80vw;
        max-width:inherit;
        margin: 2rem 0;
    }
}


.join-page-circle-1 {
    
    position: absolute;
    width:25vw;
    height:25vw;
    bottom:0;
    left:0;
    z-index: -1;
}  

.join-page-circle-1::before {
    content:"";
    position: absolute;
    transform: translateX(-20%);
    height:100%;
    width: 100%;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: rgba(188, 58, 128, 0.1);
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    -o-transform: translateX(-20%);
}
.join-page-circle-2 {
    
    position: absolute;
    width:30vw;
    height:30vw;
    top:0;
    left:20vw;
    z-index: -1;
}  

.join-page-circle-2::before {
    content:"";
    position: absolute;
    transform: translateY(-30%);
    height:100%;
    width: 100%;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: rgba(52, 87, 178, 0.1);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}